<!DOCTYPE html>
<html>
<head>
    <style>
body {
background-color:skyblue;
}
div.block{
margin-top:90px;
margin-left:10px;
}
/* div.polaroid:hover{
padding:1px;
border-style:solid;
border-color:red;
} */
div.polaroid {
  width: 16%;
  height: 100%;
  display:inline-block;
  box-align:center;
  background-color: white;
  margin-left: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

h2{
  text-align:center;
  font-family:EBGarland;
  font-size:100px;
}

div.container {
  text-align: center;
  padding: 1px 1px;
  font-family:EBGarland;
  font-size:25px;
}
</style>
</head>
<body>
<h2>Collections</h2>
<div class="block">
    <div class="polaroid">
        <a href="collectionItem"><img src="https://i.pinimg.com/originals/4f/e6/ca/4fe6ca7b1e582f0d4fe946d2383f9458.jpg" style="width:100%"></a>
        
        <div class="container">
            <p>General medicine</p>
        </div>
    </div>
<div class="polaroid">
    <img src="https://th.bing.com/th/id/OIP.ECg_-zlzpIzi8C3EqBngHQHaE8?w=267&h=180&c=7&r=0&o=5&pid=1.7" alt="5 Terre" style="width:100%">
    <div class="container">
        <p>Children Medicine</p>
    </div>
</div>
<div class="polaroid" >
    <img src="https://media.istockphoto.com/id/1402293859/photo/portrait-of-a-diverse-group-of-smiling-ethnic-business-women-standing-together-in-the-office.jpg?b=1&s=170667a&w=0&k=20&c=fFhrTb36hHvaGeBmmet6VFi1IienvvQQSrwqqWO0M30=" alt="Norther Lights" style="width:100%">
    <div class="container">
        <p>Women Medicine</p>
    </div>
</div>
    <div class="polaroid">
        <img src="https://media.istockphoto.com/id/468190928/photo/multiracial-group-of-serious-men-standing-outdoors.jpg?b=1&s=170667a&w=0&k=20&c=qxxbQyumkTGS5hZ-udUDLLmS1nBQJLj0_UvhNSPEuNk=" alt="5 Terre" style="width:100%">
        <div class="container">
            <p>Men Medicine</p>
        </div>
    </div>
    <div class="polaroid">
        <img src="https://media.istockphoto.com/id/660654876/photo/group-of-senior-retirement-friends-happiness-concept.jpg?b=1&s=170667a&w=0&k=20&c=gd0HT1EIU-xu-w3w_RNGxjw7Rfm7kB2cCiJc8THAMgY=" alt="Norther Lights" style="width:100%">
        <div class="container">
            <p>Old People medicine</p>
        </div>
</div>

</div>
</body>
</html>