<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="../stylesheets/donate.css">

</head>
<body>
<!-- partial:index.partial.html -->

<div id="bg"></div>
<h1>open heart to Donate</h1>
<form>
  <div class="form-field">
    <input type="text" placeholder="Medicine Name" required/>
  </div>
  <div class="form-field">
    <input type="text" placeholder="Manufacturing date" required/>
  </div>
  <div class="form-field">
    <input type="text" placeholder="Expiry Date" required/>
  </div>
  <div class="form-field">
    <input type="text" placeholder="Pickup Address" required/>
  </div>
  <div class="form-field">
    <input type="text" placeholder="Moblie Number" required/>
  </div>
  <div class="form-field">
    <input type="text" placeholder="Medicine Name" required/>
  </div>
  <div class="h3"><h3>Medicine-</h3></div>
  <div class="form-field">
    
    <input type="file" placeholder="Medicine Name" required/>
  </div>
  <div class="h3"><h3>Reciept-</h3></div>
  <div class="form-field">
    <input type="file" placeholder="Medicine Name" required/>
  </div>
  <button type="button" class="btn btn-secondary" >Submit</button>
</form>
  

<!-- partial -->
  
</body>
</html>