<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
        text-align:center;
        font-size:50px;}
               .images {
                   display: flex;
                   flex-wrap: wrap;
                   margin: -80px 2px ;
                   padding: 30px;
       
               }
       p{
       text-align:center;
         font-family:EBGarland;
         font-size:20px;
         }
               .photo {
                   max-width: 30.333%;
                   padding: 100px;
                   height: 240px;
                   margin-bottom: 25px;
               }
       
               .photo img {
                   width: 120%;
                   height: 170%;
       
               }
           </style>
       
</head>

<body>
    <h1>EMERGENCY</h1>
    <div class="images">
        <div class="photo">
            <img src="https://img.freepik.com/free-vector/delivery-service-scooter-boy-fast-free-delivers-food-goods-scooter-driving-through-park-background-city_110633-653.jpg?size=626&ext=jpg" >
      <p><b>Simple Delivery System</b></p>
        </div>
    
        <div class="photo">
            <a href="drone"><img src="https://image.freepik.com/free-vector/drone-delivery-service_80802-274.jpg" alt="photo" />
                <p> <b>Drone Delivery System <b></p>
            </a>
        </div>
    
    
    </div>
</body>
</html>