<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="circle">
    </div>
<header class="header">
    <i  id="logo" class="ri-hospital-fill"></i>
    <a href="#" class="logo">MediHelp</a>
    <nav class="nav-items">
        <i class="ri-search-line"></i>
        <a href="#a">Home</a>
        <a href="#d">About</a>
        <a href="#f">Contact</a>
        <a href="/logout">LogOut</a>
    </nav>
</header>
<main>
    <div  id="a"  class="intro">
        <div id="left">
        </div>
        <div id="right">
        
        </div>
    </div>
    <div id="aa">
      <a href="#donate">
        <button>DONATE NOW</button>
      </a>
     </div>
    <div class="achievements">
        <div class="work">
            <a href="/collection">
              <i class="ri-group-2-line"></i>
            </a>
            <!-- <i class="fas fa-atom"></i> -->
            <p class="work-heading">Collection</p>
            <p class="work-text">Find the Right Medicine for Your Needs: Detailed Medicine Information at Your Fingertips.</p>
        </div>
        <div class="work">
            <!-- <i class="fas fa-skiing"></i> -->
            <a href="/doctor">
              <i class="ri-service-fill"></i>
            </a>
            <p class="work-heading">Doctor</p>
            <p class="work-text">Connect with Experts and Doctors: Get Personalized Advice and Support on Your Health Journey.</p>
        </div>
        <div class="work">
           <a href="/emergency">
            <i class="ri-customer-service-fill"></i>
           </a>
            <!-- <i class="fas fa-ethernet"></i> -->
            <p class="work-heading">Emergency</p>
            <p class="work-text">Urgent Help When You Need It Most: Connect with Emergency Services and Providers 24/7.</p>
        </div>
        <div class="work">
            <!-- <i class="fas fa-atom"></i> -->
            <a href="/appointment">
              <i class="ri-calendar-2-line"></i>
            </a>
            <p class="work-heading">appointment</p>
            <p class="work-text">Book Your Appointment  with Ease: Schedule Your Next Medical Consultation Online.</p>
        </div>
        <div class="work">
            <a href="/community">
              <i class="fas fa-atom"></i>
            </a>
            <p class="work-heading">Community</p>
            <p class="work-text">Join the Community: Connect with Peers, Seek Help, and Contribute to the Health of Your Community.</p>
        </div>
    </div>
 
    
    <div class="about-me">
        <div class="about-me-text">
            <h2 id="donate">Donate</h2>
            <p>Thank you for considering a donation to support our mission of providing high-quality healthcare resources and services to individuals and communities in need. Your donation will help us to continue to innovate and improve our website, expand our reach, and deliver impactful programs and services that make a real difference in people's lives.
              Your donation will help us to achieve our vision of a world where everyone has access to high-quality healthcare resources and services, regardless of their background, location, or health status. With your support, we can continue to make a positive impact on the health and well-being of individuals and communities around the globe.
            </p>
           <a href="donate"> <button>Donate Now</button></a>

        </div>
        <img src="https://cdn.dribbble.com/users/45541/screenshots/4495164/hp-donation.jpg?compress=1&resize=800x600&vertical=top" alt="me">
    </div>


    <div id="b" class="sell">
        <img id="ddd" src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-50472,resizemode-1,msid-53703324/industry/healthcare/biotech/pharmaceuticals/mercks-indian-unit-msd-may-sell-primary-care-drugs-to-focus-on-core-brands.jpg" alt="me">
        <div class="about-me-text">
            <h2>sell</h2>
            <p class="p-right">The website also provides information on how to properly store and use the medicines, as well as any potential side effects and drug interactions. This helps customers to use the medicines safely and effectively.

              Overall, the "Sell Medicine" section of the website is an important resource for the community, providing access to affordable, quality medicines that can help to improve health outcomes and save lives..</p>
              <button>Sell Now</button>

        </div>
    </div>
    <div id="c" class="buy">
        <div class="about-me-text">
            <h2>Buy</h2>
            <p>The "Purchase Medicine" section of the website is designed to allow individuals in need of medication to easily purchase the medicine they require. The section includes a search function that enables users to find the specific medicine they need by name or by medical condition.

              Once the medicine has been selected, users can proceed to purchase it by providing their personal information and payment details. The website ensures the safety and privacy of users' information by using secure payment gateways and encryption protocols.
              
              If the user has a prescription for the medicine they require, they can upload it to the website to facilitate the purchase. The website also provides information on how to obtain a prescription if needed.
              
              The "Purchase Medicine" section of the website also includes a feature that allows users to track their orders and receive updates on the status of their delivery.
              
              Overall, the "Purchase Medicine" section of the website provides a convenient and efficient way for individuals to access the medicines they need, helping to improve health outcomes and enhance quality of life.</p>
              <button>Buy Now</button>

        </div>
        <img src="https://m.economictimes.com/thumb/msid-98741623,width-1200,height-900,resizemode-4,imgsize-36196/1.jpg" alt="me">
    </div>
    <div id="d" class="aboutD">
      <img src="https://plus.unsplash.com/premium_photo-1668487827039-ec0bedd0eb85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI1fHxtZWRpY2luZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="me">
      <div class="about-me-text">
          <h2>About</h2>
          <p class="p-right">The Project is about the collection of unused and who want to donate medicine which is unused by the patient who recovers 
            completely and medicine becomes waste that medicine can be collected and used further. User friendly and more interactive. 
             The aim and object of this project are to prepare an online portal for the collection of unused 
            medicines so that they can be given to the people who are in need. What this project will do is, collect the unused medicines
            from the people who have completely recovered from the illness and do not require the tablets anymore.</p>
            <button>About</button>

      </div>
  </div>
    <!-- <div id="aboutd">
      <h1>About</h1>
      <h3>open heart to make smile</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat laborum, voluptatum blanditiis fugiat suscipit qui a? Quos nesciunt ipsa sed maiores atque. Rerum eaque ipsa voluptatibus commodi earum laboriosam nam molestiae sunt praesentium repellat? Sint dolores sequi sit delectus ducimus qui dolorum facilis dicta ipsum ut, voluptatem ullam aliquam consectetur rem corporis neque cum cumque odio tempore consequatur quos? Explicabo natus consectetur illo nihil nisi.
      </p>
    </div> -->
</main>



<footer id="f" class="footer">
    <div class="copy">© 2023 MediHelp</div>
    <div class="bottom-links">
        <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

</body>

<script>
  var img = document.querySelector("#ddd");
  var bac = document.querySelector(".sell");
img.addEventListener("mouseover", function(det){
bac.style.bacground-color=="red";
})

  let circle = document.querySelector("#circle") ;

  window.addEventListener("mousemove" , function(details){
    let xValue = details.pageX ;
    let yValue = details.pageY ;

    setTimeout(function(){
      circle.style.top = yValue + `px` ;
      circle.style.left = xValue + `px` ;

    }, 100)
  })
</script>
</html>